---
---

//
// IMPORTS
//

//@import "reset";
//@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
:root {
  --ctp-rosewater: #dc8a78;
  --ctp-flamingo: #dd7878;
  --ctp-pink: #ea76cb;
  --ctp-mauve: #8839ef;
  --ctp-red: #d20f39;
  --ctp-maroon: #e64553;
  --ctp-peach: #fe640b;
  --ctp-yellow: #df8e1d;
  --ctp-green: #40a02b;
  --ctp-teal: #179299;
  --ctp-sky: #04a5e5;
  --ctp-sapphire: #209fb5;
  --ctp-blue: #1e66f5;
  --ctp-lavender: #7287fd;
  --ctp-text: #4c4f69;
  --ctp-subtext1: #5c5f77;
  --ctp-subtext0: #6c6f85;
  --ctp-overlay2: #7c7f93;
  --ctp-overlay1: #8c8fa1;
  --ctp-overlay0: #9ca0b0;
  --ctp-surface2: #acb0be;
  --ctp-surface1: #bcc0cc;
  --ctp-surface0: #ccd0da;
  --ctp-base: #eff1f5;
  --ctp-mantle: #e6e9ef;
  --ctp-crust: #dce0e8;
}

body {
  background-color: var(--ctp-base);
  color: var(--ctp-text);
  position: relative;
  z-index: 0;
  margin: 0;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/icons/pattern.png");
  background-repeat: repeat;
  background-size: 80px;
  opacity: 0.2;
  z-index: -1;
  pointer-events: none;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: var(--ctp-blue);
  text-decoration: none;
}

a:focus,
a:hover {
  color: var(--ctp-mauve);
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Esteban', Georgia, 'Times New Roman', serif;
  font-size: 16px;
  font-display: auto;
}

strong {
  font-family: 'Esteban', Georgia, 'Times New Roman', serif;
  font-size: 16px;
  font-display: auto;
}

h2 {
  font-family: 'Montserrat', 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 30px;
  font-display: auto;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
  display:inline;
  letter-spacing: -0.6px;
}

h3 {
  font-family: 'Montserrat', 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-display: auto;
  padding: 0px;
  margin: 0px;
  display:inline; 
}

h1 {
  font-family: 'Montserrat', 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 64px;
  font-weight: 700;
  font-display: auto;
  text-align: center;
  padding: 0px;
  margin-block-start: 12px;
  margin-block-end: 12px;
  margin-left: 0px;
  margin-right: 0px;
  letter-spacing: -2px;
  line-height: 1.05;

}

h1 {
  color: var(--ctp-text);
  text-shadow: none;
}

h2 {
  color: var(--ctp-subtext1);
}

h3 {
  color: var(--ctp-text);
}

.author-me {
  color: var(--ctp-maroon) !important;
  font-weight: 700 !important;
}

@media (max-width: 768px) {
  table {
    width: 100% !important;
    max-width: 100% !important;
  }

  td {
    box-sizing: border-box;
  }

  body,
  td,
  th,
  tr,
  p,
  a,
  strong {
    font-size: 17px;
    line-height: 1.6;
  }

  p {
    text-align: left;
    margin: 0 0 0.9em;
    overflow-wrap: break-word;
  }
  .hero-row {
    display: block;
    direction: ltr;
  }

  .bio-cell,
  .photo-cell {
    display: block;
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 18px !important;
    padding-right: 18px !important;
  }

  .photo-cell {
    text-align: center;
    padding-top: 4% !important;
    padding-bottom: 2% !important;
  }

  .bio-cell {
    padding-top: 0 !important;
  }

  .photo-cell img {
    width: 65% !important;
    max-width: 250px !important;
    height: auto;
  }

  .paper-row {
    display: block;
    width: 100%;
    margin-bottom: 0.9rem;
    padding-bottom: 0.9rem;
  }

  .paper-media,
  .paper-content {
    display: block;
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 18px !important;
    padding-right: 18px !important;
  }

  .paper-media {
    text-align: center;
    padding-bottom: 0.2rem !important;
  }

  .paper-media img {
    width: 75% !important;
    max-width: 320px;
    height: auto;
  }

  .paper-content {
    width: 85% !important;
    max-width: 85% !important;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0 !important;
    vertical-align: top !important;
  }
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: var(--ctp-yellow);
  color: var(--ctp-crust);
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
//@import "svg-icons";
