---
---

//
// IMPORTS
//

//@import "reset";
//@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
body {
  background-color: #ffffff;
  color: #000000;
}

a {
  color: #576a8f;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #ff7444;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Esteban', Georgia, 'Times New Roman', serif;
  font-size: 16px;
  font-display: auto;
}

strong {
  font-family: 'Esteban', Georgia, 'Times New Roman', serif;
  font-size: 16px;
  font-display: auto;
}

h2 {
  font-family: 'Montserrat', 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 30px;
  font-display: auto;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
  display:inline;
  letter-spacing: -0.6px;
}

h3 {
  font-family: 'Montserrat', 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-display: auto;
  padding: 0px;
  margin: 0px;
  display:inline; 
}

h1 {
  font-family: 'Montserrat', 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 64px;
  font-weight: 700;
  font-display: auto;
  text-align: center;
  padding: 0px;
  margin-block-start: 12px;
  margin-block-end: 12px;
  margin-left: 0px;
  margin-right: 0px;
  letter-spacing: -2px;
  line-height: 1.05;

}

h1 {
  color: #000000;
  text-shadow: none;
}

h2 {
  color: #000000;
}

h3 {
  color: #000000;
}

.author-me {
  color: #ff7444 !important;
  font-weight: 700 !important;
}

@media (max-width: 768px) {
  body,
  td,
  th,
  tr,
  p,
  a,
  strong {
    font-size: 18px;
  }
  .hero-row {
    display: block;
    direction: ltr;
  }

  .bio-cell,
  .photo-cell {
    display: block;
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 18px !important;
    padding-right: 18px !important;
  }

  .photo-cell {
    text-align: center;
    padding-top: 4% !important;
    padding-bottom: 2% !important;
  }

  .bio-cell {
    padding-top: 0 !important;
  }

  .photo-cell img {
    width: 65% !important;
    max-width: 250px !important;
    height: auto;
  }
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
//@import "svg-icons";
